In [9]:
import pandas as pd
import numpy as np

In [202]:
# question 1 

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [203]:
# question 1 answer :
df_exam= pd.DataFrame(data=exam_data)
df_exam['label'] = labels
df_1 = df_1.set_index(['label','attempts','name','qualify','score'])

In [204]:
# question2
df_2= df_exam.set_index('label')
df_2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

In [229]:
# question 3
df_3 = df_exam[['label','name','score']]

df_3 = df_3.iloc[[1,3,5,6]]
df_3 = df_3.set_index(['label','name','score'])
df_3

Empty DataFrame
Columns: []
Index: [(b, Dima, 9.0), (d, James, nan), (f, Michael, 20.0), (g, Matthew, 14.5)]

In [278]:
# question 4
df_4 = df_exam[['label','attempts','name','score']]
df_4 = df_4[df_4['score'].isnull()]
df_4 = df_4.set_index(['label','attempts','name','score'])
df_4

Empty DataFrame
Columns: []
Index: [(d, 3, James, nan), (h, 1, Laura, nan)]

In [300]:
# question 5 
df_5 = df_exam[['label','attempts','name','qualify','score']]
df_5 = df_5.loc[(df_5['score'] >=15) & (df_5['score'] <=20)]
df_5 = df_5.set_index(['label','attempts','name','qualify','score'])
df_5

Empty DataFrame
Columns: []
Index: [(c, 2, Katherine, yes, 16.5), (f, 3, Michael, yes, 20.0), (j, 1, Jonas, yes, 19.0)]

In [310]:
# question 6
df_exam['attempts'].sum()

19

In [343]:
# question 7 
# filter by name in descending 
df_7 = df_exam
df_7 = df_7.sort_values('name',ascending = True).sort_values('score',ascending = True).sort_values('label',ascending = True).set_index(['label','attempts','name','qualify','score'])

In [348]:
# question 8 
df_8 = df_exam
list(df_8.columns)

['name', 'score', 'attempts', 'qualify']

In [349]:
# question 9
question9_data = {'col1':[1,2,3],'col2':[4,5,6],'col3':[7,8,9]}
df_9 = pd.DataFrame(data=question9_data)
df_9.rename(columns={'col1':'Column1','col2':'Column2','col3':'Column3'})

In [354]:
# question 10
question10_data = {'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df_10 = pd.DataFrame(question10_data)
df_10 = df_10.loc[(df_10['col1'] == 4)]

In [385]:
# question 11
question11_data = {'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df_11 = pd.DataFrame(question11_data)
df_11.head(10) # widen output 10 columns

In [394]:
# question 12 
df_12 = pd.DataFrame(data= exam_data)
df_12.replace(np.nan, 0)

In [409]:
#question 13
df_13 = pd.DataFrame(data = exam_data)
df_13.drop([0,1]).reset_index()

   index       name  score  attempts qualify
0      2  Katherine   16.5         2     yes
1      3      James    NaN         3      no
2      4      Emily    9.0         2      no
3      5    Michael   20.0         3     yes
4      6    Matthew   14.5         1     yes
5      7      Laura    NaN         1      no
6      8      Kevin    8.0         2      no
7      9      Jonas   19.0         1     yes

In [450]:
# question 14
# generate random floats  
df_14 = pd.DataFrame(np.random.randn(10, 2))
df_14_part_70percentage = df_14.sample(frac=0.7,random_state=10)
df_14_part_30percentage = df_14.drop(df_14_part_70percentage.index)

In [453]:
# question 15 
question_15 = {'String Date':['3/11/2000','3/12/2000','3/13/2000']}
df_15 = pd.DataFrame(data = question_15)
df_15.dtypes
df_15_converted = pd.to_datetime(df_15['String Date'])

In [39]:
# question 16
# create a dataframe by using numpy 

array = np.array([[0, 0.0, 0.0], [0, 0.0, 0.0], [0, 0.0, 0.0], 
                  [0, 0.0, 0.0], [0, 0.0, 0.0], [0, 0.0, 0.0], 
                  [0, 0.0, 0.0],[0, 0.0, 0.0],[0, 0.0, 0.0],[0, 0.0, 0.0],[0, 0.0, 0.0],[0, 0.0, 0.0],[0, 0.0, 0.0],[0, 0.0, 0.0],[0, 0.0, 0.0]])
  
# creating a list of index names
index_values = ['index1', 'index2', 'index3',
                'index4', 'index5', 'index6', 'index7','index8','index9','index10','index11','index12','index13','index14','index15']
   
# creating a list of column names
column_values = ['Column1', 'Column2', 'Column3']
  
# creating the dataframe
df_16 = pd.DataFrame(data = array, 
                  index = index_values, 
                  columns = column_values)

In [494]:
# question 17
question17_data = {'col1':[1,2,3,4,7],'col2':[4,5,6,9,5],'col3':[7,8,12,1,11]}
df_17 = pd.DataFrame(data = question17_data)
max_value_col1 = df_17['col1'].idxmax()

max_value_col2= df_17['col2'].idxmax()
max_value_col3= df_17['col3'].idxmax()
print(max_value_col1)
print(max_value_col2)
print(max_value_col3)

4
3
2

In [502]:
# question 18
# convert float to int
df_18 = pd.DataFrame(data = exam_data)
df_18.dtypes
df_18['score'] = df_18['score'].fillna(0).astype(int)
df_18.dtypes

name         object
score       float64
attempts      int64
qualify      object
dtype: object

In [512]:
# question 19 
# convert list into dataframe

list_data = [[2,4],[1,3]]

df_19 = pd.DataFrame (list_data, columns = ['col1', 'col2'])
df_19

   col1  col2
0     2     4
1     1     3

In [547]:
# question 20
# group by the first column and get second column as lists in rows
question_20_data = {'col1':['C1','C1','C2','C2','C2','C3','C2'],'col2':[1,2,3,3,4,6,5]}
df_20 = pd.DataFrame(data = question_20_data)
df_20.groupby('col1')['col2'].apply(list)